$base-color: #203864;
$sub-color: #DAE3F3;
$title-font : 'Russo One', sans-serif;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 40px;
    background-color: rgba($base-color,1);
    a{
        color: white;
    }
    z-index: 1;
    div{
        display: flex;
        align-self: center;
        flex-direction: row;
        gap: 3em;
        margin: 10px;
        font-family: 'Orbitron', sans-serif;
        font-family: $title-font;
        
        .nav-left{
            justify-content: space-around;
            padding-left: 50px;
            
        }
        .title{
            display: flex;
            justify-content: center;
            width: 80px;
            cursor: pointer;
        }
        .home{
            width: 10px;
        }
        img{
            height: 30px;
        }
        img:hover{
            height:35px
        }
        .title:hover{
            font-size: large;
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    z-index: 0;
    color: white;
}
.name-card{
    width : 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
    video{
        width:100%;
        height:500px;
        object-fit: cover;
    }
    .background-video{
        position: absolute;
        width : 100vw;
        z-index : -1;
    }
    .name-title{
        font-family: $title-font;
        .title {
            font-size : 4rem;
        }
        .name{
            font-style: italic;
            font-size: 2rem;
        }
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width : 80%;
        height: 80%;
    }
    span{
        width: 80%;
        height: 100px;
        clip-path: polygon(1% 0%, 0% 10%, 0% 80%, 0.5% 95%, 1% 95%, 1.5% 80%, 1.5% 20%, 2.25% 10%, 50% 10%, 50.5% 7%, 50.5% 3%, 50% 0%);
        background-color: goldenrod;
        overflow: hidden;
    }
    #span-top:after{
        content:'';
        transform:translateX(100%);
        width:100%;
        height:220px;
        position: absolute;
        z-index:1;
        animation: slide 2s infinite;
        top:0;

        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    }
    #span-bot{
        transform: rotate(180deg);
    }
    #span-bot:after{
        content:'';
        transform:translateX(100%);
        width:100%;
        height:220px;
        position: absolute;
        z-index:1;
        animation: slide 2s infinite;
        animation-delay: 3s;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    }
}
.projects{
    margin-top: 80px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title{
        width: 90vw;
        font-family: $title-font;
        font-size: xx-large;
        border: solid 1px $base-color;
        border-left: solid 5px;
        border-bottom: none;
        border-right: none;
        // background-color: $sub-color;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    span{
        align-self: center;
        background-color: $sub-color;
        height: 3px;
        width : 200px;
        transform: rotate(90deg);
    }
    .subtitle{
        border: none;
        color: gray;
        font-size: larger;
        // font-weight: 100;

    }
    .project{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        width: 60vw;
        height: 300px;
        gap: 10px;
        margin-top: 50px;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            img{
                height: 300px;
            }
        }
        .text{
            .tech{
                display: flex;
                flex-direction: row;
                gap: 15px;
                .techIcons{
                    height: 80px;
                }
                .html{
                    height:90px;
                }
                img:hover{
                    transform: rotate(15deg);
                }
            }
        };
    }
}
.skills{
    margin-top: 15px;
    color: black;
    .title{
        width: 90vw;
        font-family: $title-font;
        font-size: xx-large;
        border: solid 1px $base-color;
        border-left: solid 5px;
        border-bottom: none;
        border-right: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
}

html::-webkit-scrollbar{
    width : 10px;
    background-color: aliceblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity : 0.5;
}
html::-webkit-scrollbar-thumb{
    width : 10px;
    background-color: #474747;
    opacity: 0.8;
    border-radius: 10px;
}

.screenshot{
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}