* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, rgb(255, 255, 255) 90%, rgb(32, 56, 100) 100%);
}

.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
}

nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 40px;
  background-color: #203864;
}
nav .burgerIcone {
  background-color: #203864;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  left: 10px;
  visibility: hidden;
  display: none;
  width: 100%;
}
nav .burgerIcone img {
  height: 30px;
  width: 30px;
}
nav .burgerIcone img:hover {
  border: solid #DAE3F3 2px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
}
nav .menu {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
nav .menu a {
  color: white;
}
nav .menu div {
  display: flex;
  align-self: center;
  flex-direction: row;
  gap: 3em;
  margin: 10px;
  font-family: "Orbitron", sans-serif;
  font-family: "Russo One", sans-serif;
}
nav .menu div .nav-left {
  justify-content: space-around;
  padding-left: 50px;
}
nav .menu div .title {
  display: flex;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}
nav .menu div .home {
  width: 10px;
}
nav .menu div .home img {
  height: 30px;
}
nav .menu div .home img:hover {
  height: 35px;
}
nav .menu div .title:hover {
  font-size: large;
}

@keyframes shadefilter {
  0% {
    filter: brightness(40%);
  }
  100% {
    filter: brightness(10%);
  }
}
@keyframes movebg {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 0;
  color: black;
  width: 100vw;
}

.name-card {
  position: relative;
  color: white;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.name-card .bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100vw;
  z-index: -1;
  animation: shadefilter 5s infinite alternate ease, movebg 8s infinite alternate;
}
.name-card .front-card {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.name-card .front-card .name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Russo One", sans-serif;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.name-card .front-card .name-title .title {
  font-size: 4rem;
}
.name-card .front-card .name-title .name {
  font-style: italic;
  font-size: 2rem;
}
.name-card .front-card span {
  width: 80%;
  height: 100px;
  -webkit-clip-path: polygon(1% 0%, 0% 10%, 0% 95%, 1.5% 20%, 2.25% 10%, 50% 10%, 50.5% 7%, 50.5% 3%, 50% 0%);
          clip-path: polygon(1% 0%, 0% 10%, 0% 95%, 1.5% 20%, 2.25% 10%, 50% 10%, 50.5% 7%, 50.5% 3%, 50% 0%);
  background-color: goldenrod;
  overflow: hidden;
}
.name-card .front-card #span-top:after {
  content: "";
  transform: translateX(100%);
  width: 100%;
  height: 220px;
  position: absolute;
  z-index: 1;
  animation: slide 2s infinite;
  top: 0;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}
.name-card .front-card #span-bot {
  transform: rotate(180deg);
}
.name-card #span-bot:after {
  content: "";
  transform: translateX(100%);
  width: 100%;
  height: 220px;
  position: absolute;
  z-index: 1;
  animation: slide 2s infinite;
  animation-delay: 3s;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}

.introduction .text {
  width: 80%;
}

.techIcons {
  height: 80px;
}

.projects {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects span {
  align-self: center;
  background-color: #DAE3F3;
  height: 3px;
  width: 200px;
  transform: rotate(90deg);
}
.projects .project {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  width: 60vw;
  height: 300px;
  gap: 10px;
  margin-top: 50px;
}
.projects .project .left {
  margin-left: -1000px;
  visibility: hidden;
  transition: 1s ease;
}
.projects .project .leftslide {
  margin-left: 0px;
  visibility: visible;
}
.projects .project .right {
  margin-right: -1000px;
  visibility: hidden;
  transition: 1s ease;
}
.projects .project .rightslide {
  margin-right: 0px;
  visibility: visible;
}
.projects .project div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
.projects .project div p {
  text-align: justify;
}
.projects .project div img {
  height: 300px;
}
.projects .project .text .tech {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.projects .project .text .tech .techIcons {
  height: 80px;
  transition: 0.5s;
}
.projects .project .text .tech img:hover {
  transform: rotate(15deg);
}
.projects .project:hover .text {
  background-color: #DAE3F3;
  border-radius: 50%;
}

.details .title {
  margin-top: 25px;
  width: 90vw;
  font-family: "Russo One", sans-serif;
  font-size: xx-large;
  border: solid 1px #203864;
  border-left: solid 5px;
  border-bottom: none;
  border-right: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .icon-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle {
  border: none;
  color: gray;
  font-size: larger;
  font-family: "Russo One", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.screenshot {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 350px;
  height: auto;
}

.icon-group {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.languages .lang {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.languages .flag {
  height: 50px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction .text {
  margin-top: 20px;
  font-size: large;
}

footer {
  width: 100vw;
  background-color: #203864;
  color: white;
  display: flex;
  flex-direction: row;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.contacts img {
  width: 30px;
  margin: 5px;
}
.contacts a {
  color: black;
}
.contacts div {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgba(71, 71, 71, 0.8);
  border-radius: 10px;
}

@media (max-width: 600px) and (orientation: portrait) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #203864;
  }
  nav .burgerIcone {
    display: flex;
    visibility: visible;
    z-index: 4;
  }
  nav .menu {
    background-color: #203864;
    position: absolute;
    top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    display: none;
    gap: 20px;
  }
  nav .menu .nav-left, nav .menu .nav-right {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    background-color: #203864;
  }
  nav .menu .nav-left .title, nav .menu .nav-right .title {
    border-bottom: #DAE3F3 solid 1px;
    height: 30px;
  }
  nav .menu .nav-left .home, nav .menu .nav-right .home {
    border: none;
  }
  nav .display {
    display: flex;
    flex-direction: column;
  }
  nav .menuHomepage {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #072A5D;
    height: 100%;
    top: 0;
    width: 15%;
    z-index: 2;
    left: -500px;
    transition: 1s;
  }
  .projects {
    display: flex;
  }
  .projects .project {
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    width: 60vw;
    height: 600px;
    gap: 10px;
    margin-top: 50px;
  }
  .projects .project .left {
    margin-left: -1000px;
    visibility: hidden;
    transition: 1s ease;
  }
  .projects .project .leftslide {
    margin-left: 0px;
    visibility: visible;
  }
  .projects .project .right {
    margin-right: -1000px;
    visibility: hidden;
    transition: 1s ease;
  }
  .projects .project .rightslide {
    margin-right: 0px;
    visibility: visible;
  }
  .projects .sm-reversed {
    flex-direction: column-reverse;
    align-self: center;
    justify-content: space-around;
    width: 60vw;
    height: 600px;
    gap: 10px;
    margin-top: 50px;
  }
  .projects .sm-reversed .left {
    margin-left: -1000px;
    visibility: hidden;
    transition: 1s ease;
  }
  .projects .sm-reversed .leftslide {
    margin-left: 0px;
    visibility: visible;
  }
  .projects .sm-reversed .right {
    margin-right: -1000px;
    visibility: hidden;
    transition: 1s ease;
  }
  .projects .sm-reversed .rightslide {
    margin-right: 0px;
    visibility: visible;
  }
}
@media (max-width: 500px) and (orientation: portrait) {
  main .name-card .front-card .name-title .title {
    font-size: 2rem;
  }
  main .name-card .front-card .name-title .name {
    font-style: italic;
    font-size: 1rem;
  }
  .details .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 15px;
  }
}/*# sourceMappingURL=styles.css.map */