$base-color: #203864;
$sub-color: #DAE3F3;
$sub-alternate-color: #e8fcf7;
$int-colot: #3f5a8c;
$title-font : 'Russo One', sans-serif;
$text-font : 'Jost', sans-serif;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.links{
    background-color: $base-color;
    display: flex;
    width: 100vw;
    padding-left: 15px;
    justify-content: start;
    align-items: center;
    gap:20px;
    img{
        height: 15px;
    }
    a{
        color: white;
    }
}
nav{
    position: sticky;
    z-index: 2;
    top:0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 40px;
    background-color: rgba($base-color,1);
    .burgerIcone{
        background-color: rgba($base-color,1);
        display: flex;
        flex-direction: column;
        align-items: center;
        height : 30px;
        left : 10px;
        visibility: hidden;
        display: none;
        width: 100%;
        img{
            height: 30px;
            width: 30px;
        }
        img:hover{
            border: solid $sub-color 2px;
            border-radius: 25px;
            justify-content: center;
            align-items: center;
            width: 30px;
            cursor: pointer;
        }
    }
    .menu{
        width: 100vw;
        height: 40px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        a{
            color: white;
        }
        div{
            display: flex;
            align-self: center;
            flex-direction: row;
            gap: 3em;
            margin: 10px;
            font-family: 'Orbitron', sans-serif;
            font-family: $title-font;
            
            .nav-left{
                justify-content: space-around;
                padding-left: 50px;
            }
            .title{
                display: flex;
                justify-content: center;
                width: 80px;
                cursor: pointer;
            }
            .home{
                width: 10px;
                img{
                    height: 30px;
                }
                img:hover{
                    height:35px
                }
            }
            .title:hover{
                font-size: 20px;
            }
        }
    }
}
@keyframes shadefilter{
    0%{filter: brightness(40%);}
    100%{filter: brightness(10%);}
}
@-webkit-keyframes shadefilter{
    0%{filter: brightness(40%);}
    100%{filter: brightness(10%); }
}
@keyframes movebg{
    0%{top: -50px; }
    100%{top: 0px;}
}
@-webkit-keyframes movebg{
    0%{ top: -50px;}
    100%{ top: 0px;}
}
@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
    color: black;
    width: 100vw;
    overflow-x: hidden;
    
}
.name-card{
    position: relative;
    color: white;
    width : 100vw;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .nojump{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 8;
    }
    .bg-img{
        object-fit: cover;
        position: absolute;
        width : 100vw;
        z-index : -1;
        animation: shadefilter 5s infinite alternate ease;
    }
    .front-card{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
        .name-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            font-family: $title-font;
            .title {
                font-size : 4rem;
            }
            .name{
                font-style: italic;
                font-size: 2rem;
            }
            padding-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width : 80%;
            height: 80%;
        }
        span{
            width: 80%;
            height: 100px;
            clip-path: polygon(1% 0%, 0% 10%, 0% 95%, 1.5% 20%, 2.25% 10%, 50% 10%, 50.5% 7%, 50.5% 3%, 50% 0%);
            background-color: goldenrod;
            overflow: hidden;
        }
        #span-top:after{
            content:'';
            transform:translateX(100%);
            width:100%;
            height:220px;
            position: absolute;
            z-index:1;
            animation: slide 2s infinite;
            top:0;
    
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
        }
        #span-bot{
            transform: rotate(180deg);
        }
    }
    #span-bot:after{
        content:'';
        transform: translateX(100%);
        width:100%;
        height:220px;
        position: absolute;
        z-index:1;
        animation: slide 2s infinite;
        animation-delay: 3s;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    }
}
.introduction{
    .text{
        width : 80%;

        p{font-family: $text-font;}
    }
}
.techIcons{
    height: 80px;
}
section .decor{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: $sub-alternate-color;
    opacity: 0.8;
    z-index: -2;
}

#decorProject{
    right:100px;
    transform: rotate(15deg);
    animation: slideupdown 5s infinite alternate ease-in-out ;
}
#decorSkills{
    left: 100px;
    transform: rotate(-15deg);
    animation: slideupdown 5s infinite alternate ease-in-out;
    animation-delay: 2s;
}
@keyframes slideupdown{
    0%{margin-top: 0px;}
    100%{margin-top: 150px;}
}
@-webkit-keyframes slideupdown{
    0%{margin-top: 0px;}
    100%{margin-top: 150px;}
}
.projects{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span{
        align-self: center;
        background-color: $sub-color;
        height: 3px;
        width : 200px;
        transform: rotate(90deg);
    }
    .sm-show{
        display:none;
    }
    .project{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        width: 60vw;
        height: 300px;
        gap: 10px;
        margin-top: 50px;
        .left{
            transition: 1s ease;
            margin-left: -1000px;
            visibility: hidden;
        }
        .leftslide{
            margin-left: 0px;
            visibility: visible;
        }
        .right{
            margin-right: -1000px;
            visibility: hidden;
            transition: 1s ease;
        }
        .rightslide{
            margin-right: 0px;
            visibility: visible;
        }

        .screenshot{
            width: 300px;
            a{
                position: absolute;
                .shutter{
                    margin-top:600px;
                    background-color: rgba(32, 56, 101, 0.5);
                    width: 300px;
                    height: 300px;
                    color: $sub-color;
                    display: none;
                    visibility: hidden;
                }
                img{
                    height: 300px;
                    object-fit: cover;
                }
            }
            z-index: 5;
        }
        .screenshot:hover{
            .shutter{
                transition: 1s ease;
                margin-top: -4px;
                display: flex;
                visibility: visible;
            }
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            p{
                text-align: justify;
            }
        }
        .text{
            font-family: $text-font;
            .tech{
                display: flex;
                flex-direction: row;
                gap: 15px;
                flex-wrap: wrap;
                .techIcons{
                    height: 80px;
                    transition: 0.5s;
                    z-index: 6;
                }
                img:hover{
                    transform: rotate(15deg);
                }
            }
        }
    }
    .project:hover{
        .text{
            background-color: $sub-color;
            border-radius: 50%;
        }
    }
}
.details .title{
    margin-top: 25px;
    width: 90vw;
    font-family: $title-font;
    font-size: xx-large;
    border: solid 1px $base-color;
    border-left: solid 5px;
    border-bottom: none;
    border-right: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon-group{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    ul{
        list-style-type: none;
        text-align: center;
        font-weight: 800;
    }
}
.subtitle{
    border: none;
    color: gray;
    font-size: larger;
    font-family: $title-font;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.screenshot{
  object-fit: contain;
  object-position: center;
  width: 350px;
  height: auto;
}
.icon-group{
    width : 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    gap:15px;
    .lang{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flag{
        height: 50px;
    }
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text{
        margin-top:20px;
        font-size: large;
    }
}
footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    gap: 100px;
    color: white;
    .links{
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    img{
        width: 30px;
        margin: 5px;
    }
    a{
        color: black;
    }
    div{
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

html::-webkit-scrollbar{
    width : 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb{
    width : 10px;
    background-color: rgba(71, 71, 71, 0.8);
    border-radius: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        color: white;
    }
}
.legal{
    margin-top: 15px;
    height: 100dvh;
    width : 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
// ------------------------------------------------------------------------- Media query ------------------------------------------
// ------------------------------------------------------------------------- Media query ------------------------------------------
// ------------------------------------------------------------------------- Media query ------------------------------------------

@media (orientation : portrait) or (max-width: 1100px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $base-color;
        .burgerIcone{
            display: flex;
            visibility: visible;
            z-index: 4;
        }
        .menu{
            background-color: $base-color;
            position: absolute;
            top: 30px;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            display: none;
            gap: 20px;
            .nav-left, .nav-right{
                width: 100vw;
                flex-direction: column;
                justify-content: center;
                background-color: $base-color;
                .title{
                    border-bottom: $sub-color solid 1px;
                    height : 30px;
                }
                .home{
                    border: none;
                }
            }
        }
        .display{
            display: flex;
            flex-direction: column;
        }
        .menuHomepage{
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #072A5D;
            height : 100%;
            top : 0;
            width : 15%;
            z-index: 2;
            left : -500px;
        }
    }
    .name-card .bg-img{
        animation: movebg 8s infinite alternate ;
    }
    .projects {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        .sm-show{
            display: flex;
            width : 60%;
            height : 3px;
            background-color: $base-color;
            transform: rotate(0deg);
        }
        .project{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 600px;
            transition: 1s ease;
            span{
                display: none
            }
            .left{
                margin-left: -1000px;
                visibility: hidden;
            }
            .leftslide{
                margin-left: 0px;
                visibility: visible;
            }
            .right{
                margin-right: -1000px;
                visibility: hidden;
            }
            .rightslide{
                margin-right: 0px;
                visibility: visible;
            }
        }
        .sm-reversed{
            flex-direction: column-reverse;
            align-self: center;
            justify-content: space-around;
            width: 60vw;
            height: 600px;
            gap: 10px;
            margin-top: 20px;
            .left{
                margin-left: -1000px;
                visibility: hidden;
            }
            .leftslide{
                margin-left: 0px;
                visibility: visible;
            }
            .right{
                margin-right: -1000px;
                visibility: hidden;
            }
            .rightslide{
                margin-right: 0px;
                visibility: visible;
            }
        }
    }
    main .name-card .front-card .name-title{
        .title {
            font-size : 2rem;
        }
        .name{
            font-style: italic;
            font-size: 1rem;
        }
    }
    .details .title{font-size: 20px;}
    .subtitle{font-size: 15px;}
}

@media (orientation: landscape) and (min-height: 1200px){
    nav{
        position: sticky;
        z-index: 2;
        top:0;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 40px;
        background-color: rgba($base-color,1);
        .burgerIcone{
            background-color: rgba($base-color,1);
            display: flex;
            flex-direction: column;
            align-items: center;
            height : 30px;
            left : 10px;
            visibility: hidden;
            display: none;
            width: 100%;
            img{
                height: 30px;
                width: 30px;
            }
            img:hover{
                border: solid $sub-color 2px;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                width: 30px;
                cursor: pointer;
            }
        }
        .menu{
            width: 100vw;
            height: 40px;
            display: flex;
            justify-content: space-around;
            font-size: 2vw;
            a{
                color: white;
            }
            div{
                display: flex;
                align-self: center;
                flex-direction: row;
                gap: 3em;
                margin: 10px;
                font-family: 'Orbitron', sans-serif;
                font-family: $title-font;
                
                .nav-left{
                    justify-content: space-around;
                    padding-left: 50px;
                }
                .title{
                    display: flex;
                    justify-content: center;
                    width: 80px;
                    cursor: pointer;
                }
                .home{
                    width: 10px;
                    img{
                        height: 30px;
                    }
                    img:hover{
                        height:35px
                    }
                }
                .title:hover{
                    font-size: large;
                }
            }
        }
    }
}